.custom-app-breadcrumbs-txt {
    color: #fff;
    text-transform: capitalize;
    width: 45ch; /* Adjust the width as needed */
    white-space: nowrap;
    overflow: hidden;
    font-size: 40px; /* Adjusted font size */
    animation: typing 10s steps(45, end) infinite;
    -webkit-animation: typing 10s steps(45, end) infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@-webkit-keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

.custom-app-page-feature-mobile {
    background: linear-gradient(225.35deg, #d23b7d 0%, #1c4ea1 100%);
    padding: 100px 0 80px;
    position: relative;
}

.custom-app-page-feature-mobile .custom-app-breadcrumb {
    background-color: transparent;
    color: #fff;
    display: block;
    text-transform: capitalize;
    margin-bottom: 0;
    z-index: 3;
}

.custom-app-why-para {
    word-wrap: break-word;
    font-family: Catamaran, sans-serif;
    line-height: 29px;
    color: #777;
    font-weight: 400;
    text-align: justify;
    font-size: 19px;
}

.custom-app-card-body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    bottom: 110px;
}

.custom-app-row-end {
    margin: 0;
    padding-bottom: 50px;
    padding-top: 50px;
    color: #444;
    background: linear-gradient(225.35deg, #d23b7d 0%, #1c4ea1 100%);
    background-color: #1f3c66;
}

.custom-app-img-mobile {
    max-width: 100%;
    height: auto;
}

.custom-app-padding-platform {
    padding: 0 15px;
}

.custom-app-padding-custom {
    padding: 15px;
}

.custom-app-padding-custom-left {
    padding-left: 15px;
}

.custom-app-geek {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.custom-app-custom-heading-new {
    font-size: 24px;
    font-weight: bold;
}

.custom-app-para-custom {
    font-size: 16px;
}

.mobile-app-footer {
    background: linear-gradient(225.35deg, #d23b7d 0%, #1c4ea1 100%);
    padding: 50px;
    text-align: center;
}

.mobile-app-footer-title {
    margin-bottom: 20px;
    color: #fff;
    font-size: 24px;
}

.custom-app-extra {
    color: #ff4081;
}
