.MobileApp-us-section {
  word-wrap: break-word;
  font-family: 'Catamaran', sans-serif;
  line-height: 29px;
  color: #f8f4f4;
  background: linear-gradient(225.35deg, #d23b7d 0, #1c4ea1 100%);
  padding: 10em  6em;
}
.MobileApp__Description .MobileApp__windows p{
  margin-right: 7em !important;
}
.MobileApp-us-section #animatedText {
  font-weight: bold;
  color: #fff;
  text-transform: capitalize;
  width: 35ch;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 5s steps(10) infinite;
  font-size: 2.8em !important;
}

.MobileApp-us-section .MobileApp-us-description {
  font-size: 1.2em !important;
  line-height: 1.5;
}

@keyframes typing {
  from {
      width: 0;
  }
  to {
      width: 35ch;
  }
}

.MobileApp-us-container .bg-white {
  position: relative;
  bottom: 10em;
}

.MobileApp-crmServices {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.MobileApp-header .MobileApp-title {
  font-size: 24px;
  color: #333;
}

.MobileApp-header .MobileApp-description {
  font-size: 16px;
  color: #555;
  line-height: 1.5;
}

.MobileApp-servicesSection {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.MobileApp-servicesColumn {
  flex: 1;
}

.MobileApp-servicesTitle {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.MobileApp-servicesList {
  list-style-type: none;
  padding: 0;
}

.MobileApp-serviceItem {
  font-size: 16px;
  color: #555;
  padding: 5px 0;
  position: relative;
  padding-left: 25px;
  padding-bottom: 10px;
  border-bottom: 2px solid red;
}

.container-fluid .bg-dark {
  background-color: #031533 !important;
}

.MobileApp-serviceItem1 {
  font-size: 16px;
  color: #555;
  padding: 5px 0;
  position: relative;
  padding-left: 25px;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(8, 0, 0);
}

.MobileApp-footer {
  background: linear-gradient(225.35deg, #d23b7d 0, #1c4ea1 100%);
  padding: 5em;
  color: white;
}

.MobileApp-tick {
  position: absolute;
  left: 0;
  color: black;
}

.MobileApp-imageColumn {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MobileApp-image {
  border-radius: 8px;
  height: 100% !important;
  max-width: 80% !important;
}

.MobileApp-footer {
  margin-top: 30px;
  text-align: center;
}

.MobileApp-footerTitle {
  font-size: 20px;
  color: #333;
}

.MobileApp-button {
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.MobileApp__Image .img-fluid {
  width: 100% !important;
  
}

.MobileApp-button:hover {
  background-color: #e91e63;
}

@media (min-width: 990px) and (max-width: 1112px) {
  .MobileApp-header .MobileApp-description {
      font-size: 14px !important;
  }
  .MobileApp-us-section #animatedText {
      font-size: 2.5em !important;
  }
  .MobileApp-us-section .MobileApp-us-description {
      font-size: 1.2em !important;
  }
}

@media (min-width: 759px) and (max-width: 990px) {
  .MobileApp-header .MobileApp-description {
      font-size: 14px !important;
  }
  .MobileApp-us-section #animatedText {
      font-size: 2em !important;
  }
  .MobileApp-us-section .MobileApp-us-description {
      font-size: 1em !important;
  }
}

@media (min-width: 1px) and (max-width: 759px) {
  .MobileApp-header .MobileApp-description {
      font-size: 14px !important;
  }
  .MobileApp-us-section {
      padding: 5em 4em;
  }
  .MobileApp-us-section #animatedText {
      font-size: 1em !important;
  }
  .MobileApp-us-section .MobileApp-us-description {
      font-size: 0.8em !important;
  }
  .container-fluid .bg-white {
      bottom: 4em;
  }
  .MobileApp-footer {
      padding: 2em;
  }
}
