.EcommerceSolutions-us-section {
    word-wrap: break-word;
    font-family: "Catamaran, sans-serif";
    line-height: 29px;
    color: #f8f4f4;
    background: linear-gradient(225.35deg, #d23b7d 0, #1c4ea1 100%);
    padding: 10em 8em;
}

.EcommerceSolutions-us-section #animatedText {
    
    font-weight: bold;
    color: #fff;
    text-transform: capitalize;
    width: 35ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 5s steps(10) infinite;
    animation-duration: 5s;
    animation-timing-function: steps(10);
    font-family: 'Catamaran', sans-serif;
    font-size: 3.2em !important;
}

.EcommerceSolutions-us-section .EcommerceSolutions-us-description {
    font-family: 'Catamaran', sans-serif;
    font-size: 1.2em !important;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.EcommerceSolutions-us-container .bg-white {
    position: relative;
    top: -5em;
}

.EcommerceSolutions-us-description {
    font-size: 20px;
    line-height: 1.5;
    font-family: "Catamaran, sans-serif";
}

.EcommerceSolutions-crmServices {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.EcommerceSolutions-header .EcommerceSolutions-title {
    font-size: 24px;
    color: #333;
}

.EcommerceSolutions-header .EcommerceSolutions-description {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}

.EcommerceSolutions-servicesSection {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.EcommerceSolutions-servicesColumn {
    flex: 1;
}

.EcommerceSolutions-servicesTitle {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.EcommerceSolutions-servicesList {
    list-style-type: none;
    padding: 0;
}

.EcommerceSolutions-serviceItem {
    font-size: 16px;
    color: #555;
    padding: 5px 0;
    position: relative;
    padding-left: 25px;
    padding-bottom: 10px;
    border-bottom: 2px solid red; /* Change the color as needed */
}

.EcommerceSolutions-serviceItem1 {
    font-size: 16px;
    color: #555;
    padding: 5px 0;
    position: relative;
    padding-left: 25px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(8, 0, 0); /* Change the color as needed */
}

.EcommerceSolutions-footer {
    background: linear-gradient(225.35deg, #d23b7d 0, #1c4ea1 100%);
    padding: 5em;
    color: white;
}

.EcommerceSolutions-tick {
    position: absolute;
    left: 0;
    color: black; /* Change the color as needed */
}

.EcommerceSolutions-imageColumn {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.EcommerceSolutions-image {
    border-radius: 8px;
    height: 50vh !important;
    max-width: 80vw !important;
}

.EcommerceSolutions-footer {
    margin-top: 30px;
    text-align: center;
}

.EcommerceSolutions-footerTitle {
    font-size: 20px;
    color: #333;
}

.EcommerceSolutions-button {
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.EcommerceSolutions-button:hover {
    background-color: #e91e63;
}

@media (min-width:990px) and (max-width:1112px) {
    .EcommerceSolutions-header .EcommerceSolutions-description {
        font-size: 14px !important;
    }

    .EcommerceSolutions-us-section #animatedText {
        font-size: 3em !important;
    }

    .EcommerceSolutions-us-section .EcommerceSolutions-us-description {
        font-size: 1.2em !important;
    }
}

@media (min-width:759px) and (max-width:990px) {
    .EcommerceSolutions-header .EcommerceSolutions-description {
        font-size: 14px !important;
    }

    .EcommerceSolutions-us-section #animatedText {
        font-size: 2em !important;
    }

    .EcommerceSolutions-us-section .EcommerceSolutions-us-description {
        font-size: 1em !important;
    }

    .EcommerceSolutions-us-section {
        padding: 7em 3em !important;
    }
}

@media (min-width:550px) and (max-width:758px) {
    .EcommerceSolutions-us-section {
        padding: 7em 3em !important;
    }

    .EcommerceSolutions-header .EcommerceSolutions-description {
        font-size: 12px !important;
    }

    .EcommerceSolutions-us-section #animatedText {
        font-size: 1.5em !important;
    }

    .EcommerceSolutions-us-section .EcommerceSolutions-us-description {
        font-size: 0.8em !important;
    }
}

@media (min-width:550px) and (max-width:650px) {
    .EcommerceSolutions-header .EcommerceSolutions-description {
        font-size: 10px !important;
    }

    .EcommerceSolutions-us-section #animatedText {
        font-size: 1.2em;
    }

    .EcommerceSolutions-us-section .EcommerceSolutions-us-description {
        font-size: 0.6em !important;
    }

    .EcommerceSolutions-us-section {
        padding: 7em 3em !important;
    }
}

@media (min-width:468px) and (max-width:549px) {
    .EcommerceSolutions-header .EcommerceSolutions-description {
        font-size: 8px !important;
    }

    .EcommerceSolutions-us-section #animatedText {
        font-size: 1.2em !important;
    }

    .EcommerceSolutions-us-section .EcommerceSolutions-us-description {
        font-size: 0.7em !important;
    }

    .EcommerceSolutions-us-section {
        padding: 7em 3em !important;
    }
}

@media (max-width:467px) {
    .EcommerceSolutions-header .EcommerceSolutions-description {
        font-size: 14px !important;
    }

    .EcommerceSolutions-us-section #animatedText {
        font-size: 1em !important;
    }

    .EcommerceSolutions-us-section .EcommerceSolutions-us-description {
        font-size: 0.8em !important;
    }

    .EcommerceSolutions-us-section {
        padding: 7em 3em !important;
    }
}
