.WhycodeCraze-container{
    background-color: white;
    position: relative;
    margin-top:14.1em;
    margin-bottom:6.1em;
    
}
.WhyCodeCraze__animatedText #animatedText{
  margin-bottom: 1em !important;
}

.WhyCodeCraze__animatedText {
  word-wrap: break-word;
  font-family: "Catamaran, sans-serif";
  line-height: 39px;
  color: #f8f4f4;
  background: linear-gradient(225.35deg, #d23b7d 0, #1c4ea1 100%);
  padding: 7em 1em;
  top: 0 !important; 
  left: 0;
  right: 0;
  
}


.WhyCodeCraze__animatedText #animatedText {
  font-size: 46px;
  font-weight: bold;
  color: #fff;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid orange; /* Adds a caret */
  animation: typing 5s steps(30, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: orange; }
}


.WhycodeCraze-info-card .card {
    transition: transform 0.3s, background-color 0.3s;
    background-color: #f8f9fa; /* Default background color */
  }
  
  .WhycodeCraze-info-card .card:hover {
    transform: scale(1.05);
    background-color: #ffffff !important; /* Change background color to white on hover */
  }
  
  .WhycodeCraze-info-card .WhycodeCraze-icon_why {
    transition: background-color 0.3s;
  }
  
  .WhycodeCraze-info-card .card:hover .WhycodeCraze-icon_why {
    background-color: #ff3a4c;
  }
  
  .WhycodeCraze-info-card .card:hover .WhycodeCraze-icon_why_inner {
    color: #ffffff;
  }
  