.WhycodeCraze-container{
    background-color: white;
    position: relative;
    margin-top:18.1em;
    margin-bottom:6.1em;
    
}
.WhyCodeCraze__animatedText #animatedText{
  margin-bottom: 1em !important;
}

.WhyCodeCraze__animatedText {
  word-wrap: break-word;
  font-family: "Catamaran, sans-serif";
  line-height: 39px;
  color: #f8f4f4;
  background: linear-gradient(225.35deg, #d23b7d 0, #1c4ea1 100%);
  padding: 7em 1em;
  top: 0 !important; 
  left: 0;
  right: 0;
  padding: 10em 8em;
}


.WhyCodeCraze__animatedText #animatedText {
  font-size: 46px;
  font-weight: bold;
  color: #fff;
  text-transform: capitalize;
  width: 35ch;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 5s steps(10) infinite;
  animation-duration: 5s;
  animation-timing-function: steps(10);
   font-family: 'Catamaran', sans-serif;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}





.WhycodeCraze-info-card .card {
    transition: transform 0.3s, background-color 0.3s;
    background-color: #f8f9fa; /* Default background color */
  }
  
  .WhycodeCraze-info-card .card:hover {
    transform: scale(1.05);
    background-color: #ffffff !important; /* Change background color to white on hover */
  }
  
  .WhycodeCraze-info-card .WhycodeCraze-icon_why {
    transition: background-color 0.3s;
  }
  
  .WhycodeCraze-info-card .card:hover .WhycodeCraze-icon_why {
    background-color: #ff3a4c;
  }
  
  .WhycodeCraze-info-card .card:hover .WhycodeCraze-icon_why_inner {
    color: #ffffff;
  }
  @media (min-width :577px ) and (max-width :767px){
    .WhyCodeCraze .WhyCodeCraze__animatedText .fs-1{
      font-size: 1.4em !important;
    }

  }
  
@media (max-width: 576px) {
  .WhycodeCraze-card_property_why {
    width: 100% !important;  /* Make the card take full width */
    max-width: 100% !important; /* Override the max-width */
  }
  .WhyCodeCraze .WhyCodeCraze__animatedText .fs-1{
    font-size: 1.2em !important;
  }
}
