.bg-dark-gradient {
    background: linear-gradient(to right, #000000, #434343);
  }
  
  .dropdown-toggle {
    color: white !important;
  }
  
  .navbar-toggler {
    background-color: white !important;
  }
  
  .offcanvas-header {
    background: linear-gradient(to right, #000000, #434343);
  }
  
  .nav-link:hover {
    border-width: 0.1rem;
    border-style: solid;
    border-color: white;
  }
  
  .navbar-center {
    position: absolute;
    left: 7em;
    transform: translateX(-50%);
  }
  
  .navbar-nav .dropdown-menu {
    background-color: #000000;
  }
  
  .dropdown-item:hover {
    background-color: transparent !important;
    border-width: 0.1rem !important;
    border-style: solid !important;
    border-color: white !important;
  }
  
  .offcanvas-title{
    color: white !important;
  }
 
  
  @media (max-width: 991px) {
    .offcanvas-body {
      background: linear-gradient(to right, #000000, #434343);
    }
    .text-white{
      font-size: 0.85em !important;
    }
   
  }
  
  @media (min-width: 991px) {
    .offcanvas-header,
    .offcanvas-body {
      display: none;
    }

    
  
    .offcanvas.show,
    .offcanvas.show:not(.hiding),
    .offcanvas.showing {
      display: none !important;
    }
  }
  