.CareerApply-us-section {
    word-wrap: break-word;
    font-family: "Catamaran, sans-serif";
    line-height: 29px;
    color: #f8f4f4;
    background: linear-gradient(225.35deg, #d23b7d 0, #1c4ea1 100%);
    padding: 10em 8em;
}

.CareerApply-us-section #animatedText {
    font-size: 46px;
    font-weight: bold;
    color: #fff;
    text-transform: capitalize;
    width: 35ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 5s steps(10) infinite;
    animation-duration: 5s;
    animation-timing-function: steps(10);
    font-family: 'Catamaran', sans-serif;
    font-size: 3.5em !important;
}

.CareerApply__section {
    position: relative;
    bottom: 5em;
}

.CareerApply-us-section .CareerApply-us-description {
    font-family: 'Catamaran', sans-serif;
    font-size: 1.3em !important;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}
.contact-us-container {
  padding: 2rem;
}

.contact-us-card {
  background-color: #001d5a !important;
  color: white !important;
  border-radius: 10px !important;
  padding: 1rem !important;
  position: relative !important;
  width: 105% !important;
}

.contact-us-card-title {
  color: #ffc107;
}

.contact-us-card-text {
  margin-bottom: 1rem;
}

.contact-us-form-label {
  font-weight: bold;
}
.contact-us-form{
    margin-left:1rem ;
}
.contact-us-form-control {
  border-radius: 5px !important;
  border: 1px solid black !important;
}

.contact-us-btn {
  background-color: #001d5a;
  border: none;
  padding: 0.5rem 2rem;
}

.contact-us-btn:hover {
  background-color: #000;
}

.contact-us-icon-background {
  position: relative;
}

.contact-us-icon-background i {
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  color: #001d5a;
  margin-right: 10px;
}



@media (min-width: 990px) and (max-width: 1112px) {
   
}

@media (min-width: 759px) and (max-width: 990px) {
   
}

@media (min-width: 550px) and (max-width: 758px) {
    
}

@media (min-width: 550px) and (max-width: 650px) {
   
}

@media (min-width: 468px) and (max-width: 549px) {
   
}

@media (max-width: 467px) {
   
    .contact-us-form{
        margin-left:0rem  !important;
    }
}
