.image-container {
    display: flex;
    justify-content: space-around; /* Adjust as per your layout needs */
    flex-wrap: wrap; /* Allow the images to wrap to the next line */
  }
  
  .image-wrapper {
    overflow: hidden;
    transition: transform 0.3s ease;
    margin: 10px;
    cursor: pointer;
  }
  
  
  
  .image-wrapper.zoomed {
    transform: scale(1.5); /* Example zoom on click */
    z-index: 1; /* Ensure it overlays other elements */
    position: relative; /* Adjust as per your layout needs */
  }
  
  /* Specific styles for each image */
  .image-wrapper.shipyaari img {
    max-width: 500px; 
    height: 100px;
  }  
  .image-wrapper.airrnp img {
    
  }
  
  .image-wrapper.getmock img {
    /* Add specific styles for getmock image if needed */
  }
  
  .carousel-indicators .active {
    opacity: 0 !important;
  }
  .image-wrapper .parkers img {
    max-width: 500px; 
    height: 100px;
  }
  
  .image-wrapper:hover {
    transform: scale(1.1); /* Example zoom on hover */
  }
  