.image-container {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; 
  }
  
  .image-wrapper {
    overflow: hidden;
    transition: transform 0.3s ease;
    margin: 10px;
    cursor: pointer;
  }
  
  
  
  .image-wrapper.zoomed {
    transform: scale(1.5); 
    z-index: 1; 
    position: relative; 
  }
  

  .image-wrapper.shipyaari img {
    width: 280px; 
    height: 100px;
  }  
  .image-wrapper.airrnp img {
    width: 280px; 
    height: 100px;
  }
  
  .image-wrapper.getmock img {
    width: 280px; 
    height: 100px;
  }
  
  .carousel-indicators .active {
    opacity: 0 !important;
  }
  .image-wrapper .parkers img {
    width: 280px; 
    height: 100px;
  }
  
  .image-wrapper:hover {
    transform: scale(1.1); /* Example zoom on hover */
  }
  