.example-carousel-image__container {
  display: flex;
  justify-content: space-around; /* Adjust as per your layout needs */
  flex-wrap: wrap; /* Allow the images to wrap to the next line */
}

.example-carousel-image__wrapper {
  overflow: hidden;
  transition: transform 0.3s ease;
  margin: 10px;
  cursor: pointer;
}

.example-carousel-image__wrapper--zoomed {
  transform: scale(1.5); 
  z-index: 1; 
  position: relative; 
}

/* Specific styles for each image */
.example-carousel-image__wrapper--shipyaari img,
.example-carousel-image__wrapper--airrnp img,
.example-carousel-image__wrapper--getmock img,
.example-carousel-image__wrapper--parkers img {
  width: 280px; 
  height: 100px;
}

.carousel-indicators .active {
  opacity: 0 !important;
}

.example-carousel-image__wrapper:hover {
  transform: scale(1.1); /* Example zoom on hover */
}
