.footer {
  background-color: #000;
  color: white;
  padding: 60px 0;
  font-size: 20px; /* Adjusted overall font size */
}

.footer h2 {
  color: white;
  font-weight: bold;
  font-size: 60px; /* Increased font size for "Get in touch!" */
  margin-bottom: 15px; /* Added bottom margin */
}

.footer h3 {
  color: white;
  font-size: 28px; /* Adjusted heading size */
  margin-bottom: 15px; /* Added bottom margin */
}

.footer p, .footer a {
  color: #999;
  font-size: 20px; /* Adjusted paragraph and link size */
  margin-bottom: 10px; /* Added bottom margin */
}

.footer a:hover {
  color: #ff4c4c;
  text-decoration: none;
}

.footer .btn-outline-light {
  border: 1px solid #fff;
  color: #fff;
  font-size: 20px; /* Adjusted button font size */
  margin-bottom: 15px; /* Added bottom margin */
}

.footer .btn-outline-light:hover {
  background-color: #ff4c4c;
  border-color: #ff4c4c;
}

.social-links a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-size: 28px; /* Adjusted icon size */
}

.social-links {
  margin-bottom: 15px; /* Added bottom margin */
}

.quick-links ul, .contact-info p {
  margin-bottom: 15px; /* Added bottom margin */
}

.quick-links ul li {
  list-style: none;
}

.quick-links ul li a {
  color: #ff4c4c;
  text-decoration: none;
  font-size: 20px; /* Adjusted link size */
}

.quick-links ul li a:hover {
  text-decoration: underline;
}

.map-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 75%; /* Adjust this value as needed to control the aspect ratio */
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  border: 0;
}
